build/
build-profile/
build-static/
debug/
dist/
data/*
include/*
lib/*
bin/*
share/*
deps/*/*
plugins/*/
env.bat
node_modules/
*~
.*.swp
.cache/
*.7z
.DS_Store
doc/rime-*
rime-profile.log
profile-analysis.md
